<!DOCTYPE HTML>
<html>
    <head>
        <title>Brandreth - New Trip</title>
        {{ template "header" }}
        <script>
            var names = [{{range $i, $e := $.Names}}{{$e}}, {{end}}]
            var reasons = [{{range $i, $e := $.Reasons}}{{$e}}, {{end}}]
            $(document).ready( function() {
                $(".reasonfield").autocomplete({source: reasons});
                var c = 0;
                $("#addbutton").click(function(event) {
                    if(event) {
                        event.preventDefault();
                        var person = $("#persontemplate");
                        var newperson = person.clone().attr("id", "person" + c++).attr("style", "").insertAfter(person);
                        newperson.find(".namefield").autocomplete({source: names});
                    }
                });
                $("#submitbutton").click(function(event) {
                    if(event) {
                        event.preventDefault();
                        var reason = $('#reason').val()
                        var names = $('.namefield');
                        var books = $('.book');
                        var arrivals = $('.arrival');
                        var departures = $('.departure');
                        var entries = $('.entry');
                        var json = [];
                        for (i = 1; i < names.length; i++) {
                            var entry = {
                                name: names[i].value,
                                book: parseInt(books[i].value),
                                arrival: arrivals[i].value,
                                departure: departures[i].value,
                                entry: entries[i].value
                            };
                            json.push(entry)
                        }
                        $.ajax({
                            type: "POST",
                            url: "/submittrip",
                            data: JSON.stringify({reason: reason, entries: json}),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function(data){alert(data);},
                            failure: function(errMsg) {
                                alert(errMsg);
                            }
                        });
                    }
                });
            });
        </script>
    </head>
    <body>
        {{template "navbar" $}}
        <div class="container">
            <h1>New Trip</h1>
            <p>The trip reason field and the names fields have suggestions on them, please use them if you're entering a trip with an existing reason or an entry from someone who has signed the guestbook in the past</p>
            <form role="form" id="tripform">
                <div class="form-group">
                    <label for="reason">Trip Reason</label>
                    <input type="text" class="form-control reasonfield" id="reason" placeholder="Chill Weekend || Work Weekend || Fall Camping">
                </div>
                <button id="addbutton" class="btn btn-default">Add Person</button>
                <button id="submitbutton" type="submit" class="btn btn-default">Submit Trip</button>
                <span id="peopleholder">
                    <div class="row">
                        <div id="persontemplate" style="display:none;" class="col-md-4">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control namefield" placeholder="Andrew Potter" required/>
                            </div>
                            <div class="form-group">
                                <label>Book</label>
                                <input type="number" class="form-control book" required/>
                            </div>
                            <div class="form-group">
                                <label>Arrival</label>
                                <input type="date" class="form-control arrival" required/>
                            </div>
                            <div class="form-group">
                                <label>Departure</label>
                                <input type="date" class="form-control departure" required/>
                            </div>
                            <div class="form-group">
                                <label>Entry</label>
                                <textarea rows="4" class="form-control entry"></textarea>
                            </div>
                        </div>
                    </div>
                </span>
            </form>
        </div>
    </body>
</html>
