<!DOCTYPE HTML>
<html>
    <head>
        <title>Brandreth Visitors</title>
        {{template "header"}}
    </head>
    <body>
        {{template "navbar" $ }}
        <div class="container">
            {{ range $userIndex, $user := $.People }}
                {{ if $.TimeForRowStart $userIndex }}
                    <div class="row">
                {{ end }}
                    <div class="col-md-3">
                        <a href="/person?user_id={{$user.UserId}}">
                        <h4>{{$user.Name}}{{ if $user.Nickname }} - {{$user.Nickname}}{{ end }}</h4>
                        </a>
                    </div>
                {{ if $.TimeForRowEnd $userIndex }}
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </body>
</html>
