<!DOCTYPE HTML>
<html>
    <head>
        <title>{{$.Person.Name}}'s Entries</title>
    </head>
    <body>
        <h1>{{$.Person.Name}}</h1>
        <h2>{{$.Person.Nickname}}</h2>
        {{ range $i, $e := $.Entries }}
            <h3>{{$e.StartString}} - {{$e.EndString}}</h3>
            <p>{{$e.TripReason}}</p>
            <p>{{$e.Entry}}</p>
        {{ end }}
    </body>
</html>
