<!DOCTYPE HTML>
<html>
	<head>
		<title>Brandreth Trips</title>
		{{ template "header" }}
	</head>
	<body>
		{{template "navbar" $}}
		<div class="container">
			<ul class="pagination pagination-lg">
				<li {{if $.IsTripsPageNum 0}}class="disabled"><a href="#">{{else}}><a href="/trips?page={{$.PrevPage}}">{{end}}&laquo;</a></li>
				{{range $i, $e := $.PagesToShow}}
					<li {{if $.IsTripsPageNum $e}} class="active"{{end}}><a href="/trips?page={{$e}}">{{$e}}</a></li>
				{{end}}
				<li {{if $.IsLastPage}}class="disabled"><a href="#">{{else}}><a href="/trips?page={{$.NextPage}}">{{end}}&raquo;</a></li>
			</ul>
			{{ range $i, $e := $.TripItems }}
				<a href="/trip?trip_id={{$e.TripId}}">
					<h3>{{$e.Start}} to {{$e.End}} - {{$e.Reason}}</h3>
					<h4>{{$e.NumPeople}} people went</h4>
				</a>
			{{ end }}
		</div>
	</body>
</html>
