<!DOCTYPE HTML>
<html>
    <head>
        <title>{{$.TripInfo.TripReason}}</title>
        {{ template "header" }}
    </head>
    <body>
        {{template "navbar" $}}
        <div class="container">
            <h1>{{$.TripInfo.StartString}} to {{$.TripInfo.EndString}}</h1>
            <h2>{{$.TripInfo.TripReason}}</h2>
            {{ range $i, $e := $.PeopleEntries }}
                <h3><a href="/person?user_id={{$e.Person.UserId}}">{{$e.Person.Name}}{{if $e.Person.Nickname}} - {{$e.Person.Nickname}}{{end}}</a></h3>
                <p>{{$e.Entry.Entry}}</p>
            {{ end }}
        </div>
    </body>
</html>
